:root {
  --background: #1f1f1f;
  --text-dark: #333333;
  --text-darker: #1f1f1f;
  --text-light: #adadad;
  --text-lighter: #ebebeb;
  --accent-1: #00a375;
  --accent-2: #d17a23;
  --white: #ffffff;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text-lighter);
}

main {
  margin: 0 auto;
  max-width: 95%;
  padding: 2vh 5vw;
}

span {
  text-decoration: none;
  color: var(--text-light);
  cursor: pointer;
}

li {
  list-style: none;
}

.navbar-brand {
  text-decoration: none;
  color: var(--accent-1);
}

.navbar-brand:hover {
  color: var(--accent-1);
}

.active span {
  color: var(--text-lighter);
}

.navbar-toggler:focus {
  box-shadow: none;
}
