:root {
  --white: #FFFFFF;
  --silver: #BFC0C0;
  --black-coral: #4F5D75;
  --space-cadet: #2D3142;
  --mandarin: #EF8354;
}

body {
  margin: 0;
  padding: 0;
  background: var(--space-cadet);
}

span {
  text-decoration: none;
  color: var(--silver);
  cursor: pointer;
}

li {
  list-style: none;
}

header h2 a {
  text-decoration: none;
  color: var(--mandarin);
}

.navActive span {
  color: var(--white)
}