:root {
  --primary: #047739;
  --secondary: #d17a23;
  --light: #cccccc;
  --lighter: #ebebeb;
  --dark: #333333;
  --darker: #1f1f1f;
  --white: #ffffff;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
  background: var(--lighter);
  color: var(--darker);
}

span {
  text-decoration: none;
  color: var(--dark);
  cursor: pointer;
}

li {
  list-style: none;
}

.navbar-brand {
  text-decoration: none;
  color: var(--primary);
}

.navbar-brand:hover {
  color: var(--primary);
}

.active span {
  color: var(--secondary);
}
